.container {
  /* width: 100px;
  height: 100px;
  background-color: red; */

  /* annimation */
  animation-duration: 10s;
  animation-name: background-animation-1920;
  animation-fill-mode: forwards;

  background-repeat: no-repeat;
  /* background-size : cover; */
  background-size: 100% 100%;
  width: 100%;
  height: 0px;
  padding-top: 100vh;
}

.drawerBtn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
}

@keyframes background-animation-1920 {
  from {
    background-image: url("/images/background/beautiful-nature-3348196_1920.jpg");
  }

  25% {
    background-image: url("/images/background/flower-7052292_1920.jpg");
  }

  50% {
    background-image: url("/images/background/landscape-2459981_1920.jpg");
  }

  75% {
    background-image: url("/images/background/mountain-3351653_1920.jpg");
  }

  to {
    background-image: url("/images/background/lines-3659995_1920.jpg");
  }
}

@keyframes background-animation-1280 {
  from {
    background-image: url("/images/background/beautiful-nature-3348196_1280.jpg");
  }

  25% {
    background-image: url("/images/background/flower-7052292_1280.jpg");
  }

  50% {
    background-image: url("/images/background/landscape-2459981_1280.jpg");
  }

  75% {
    background-image: url("/images/background/mountain-3351653_1280.jpg");
  }

  to {
    background-image: url("/images/background/lines-3659995_1280.jpg");
  }
}

@keyframes background-animation-640 {
  from {
    background-image: url("/images/background/beautiful-nature-3348196_640.jpg");
  }

  25% {
    background-image: url("/images/background/flower-7052292_640.jpg");
  }

  50% {
    background-image: url("/images/background/landscape-2459981_640.jpg");
  }

  75% {
    background-image: url("/images/background/mountain-3351653_640.jpg");
  }

  to {
    background-image: url("/images/background/lines-3659995_640.jpg");
  }
}

@media only screen and (max-width: 1280px),
  only screen and (device-width: 1280px) {
  .container {
    animation-name: background-animation-1280;
  }
}

@media only screen and (max-width: 640px),
  only screen and (device-width: 640px) {
  .container {
    animation-name: background-animation-640;
  }
}
